div{
    width: 150px;
     margin: 10px;
    float: left;
}
h1{
    border: 5px solid orangered;
    outline: 5px solid black;
    height: 80px;
    text-align: center;
    background-color: rgb(238, 238, 238);
}
.h1{
    border-top: 5px solid blue;
    border-left: 5px solid green;
    border-bottom: 5px solid blue;
    border-right: 5px solid green;
}
.hh1{
    border-top: 5px dashed orangered;
    border-left: 5px dashed gold;
    border-bottom: 5px dashed blue;
    border-right: 5px dashed green;
}